<ph-window #newPopup [title]="'NEW USER'" style="position: absolute; min-width: 512px;">
     <ph-form >
        <ph-input [label]="'Username'" [(value)]="user.username"></ph-input>
        <ph-dropdown [label]="'Role'" [(value)]="user.role">
          <ph-dropdown-item [value]="'admin'" [label]="'admin'"></ph-dropdown-item>
          <ph-dropdown-item [value]="'sl'" [label]="'sl'"></ph-dropdown-item>
          <ph-dropdown-item [value]="'operator'" [label]="'operator'"></ph-dropdown-item>
          <ph-dropdown-item [value]="'user'" [label]="'user'"></ph-dropdown-item>
        </ph-dropdown>
        <ph-input [label]="'Password'" [(value)]="password"></ph-input>
        <ph-input [label]="'Password Repeat'" [(value)]="passwordRepeated"></ph-input>
    </ph-form>

    <ph-button-list>
        <ph-button (click)="submit()">APPLY</ph-button>
        <ph-button (click)="cancel()">CANCEL</ph-button>
    </ph-button-list>
</ph-window>