<ph-window [title]="'USER ADMIN'" [subtitle]="'TR2805'">
    <div class="content">
        <ph-table [label]="'Users'">
            <tr>
                <th style="width: 128px;">Username</th>
                <th>Role</th>
                <th style="width: 122px;">Command</th>
            </tr>
            @for(user of user.users(); track user; let idx = $index)
            {
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.role}}</td>
                <td style="display: flex; justify-content: space-around ;">
                    <ph-button [isActive]="true" (click)="editUser(user)">EDIT</ph-button>
                    <ph-button [isActive]="true" (click)="deleteUser(user)">DELETE</ph-button>
                </td>
            </tr>
            }
        </ph-table>
        <ph-command-list [label]="'CREATE'" style="margin: 4px; height:22px">
            <ph-button (click)="newUser()" style="margin-right: 2px;">USER</ph-button>
            <ph-button (click)="newToken()">TOKEN</ph-button>
        </ph-command-list>
    </div>
</ph-window>
<app-dialog></app-dialog>