<ph-window [title]="'USER ADMIN'" [subtitle]="'TR2805'">
    <div class="content">
        <ph-table [label]="'Users'">
            <tr>
                <th style="width: 128px;">Username</th>
                <th>Role</th>
                <th style="width: 124px;">Command</th>
            </tr>
            @for(user of user.users(); track user; let idx = $index)
            {
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.role}}</td>
                <td style="display: flex; justify-content: space-around ;">
                    <ph-button [isActive]="true" (click)="editUser(user)">EDIT</ph-button>
                    <ph-button [isActive]="true" (click)="deleteUser(user)">DELETE</ph-button>
                </td>
            </tr>
            }
        </ph-table>
    </div>
</ph-window>